body {
    background-color: #232323;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

h1 {
    color: rgb(226, 226, 226);
    text-transform: capitalize;
}

span {
    text-transform: capitalize;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected {
    background-color: blue;
    color: rgb(226, 226, 226);
}
