@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
    background-color: #232323;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;

    border-radius: 15%;
    transition: background 500ms;
}

h1 {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    line-height: 1.1;
}

span {
    text-transform: uppercase;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected,
button:hover {
    background-color: steelblue;
    color: white;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 250ms;
    outline: none;
}

#message {
    display: inline-block;
    width: 20%;
}
